/* #region Variables */

:root {
    --bg_primary: #000000;
    --bg_secondary:#222222;
    --bg_tertiary:#4A4A4A;

    --txt_primary-color:#ffffff;
    --txt_secondary-color:#ED1D21;

    --icon_primary-color:#ffffff;
    --icon_secondary-color:#4BC800;

}


/* #endregion */


/*#region Common rules*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-width: 1440px;
}

ul{
    text-decoration: none;
    list-style: none;
}


/*#endregion*/

/* #region Utility */

/* #region grid */
.row{
    width: 100%;
}

.col_25{
    width: 25%;
}

.col_50{
    width: 50%;
}

 /*#endregion */

.flex {
    display:flex;
} 




/* #endregion */


/* #region main */

main{
    height: calc(100vh - 81px);
    background-color: var(--bg_primary);
}


/* #endregion */

/* #region Footer */
footer{
    height: 81px;
    background-color:var(--bg_secondary);
    justify-content: center;
    align-items: center;
}

nav{
    justify-content:space-between;
}

.menu_left{
    color:var(--txt_primary-color)
}

.action{
    padding: 10px;
    text-align:center;
}
.red{
    background-color: red;
}

.action>a{
    flex-direction: column;
    color: var(--icon_primary-color);
    justify-content: center;
    align-items: center;
}

/* #endregion */
