/* #region Variables */

:root {
    --bg_primary: #000000;
    --bg_secondary:#222222;
    --bg_tertiary:#4A4A4A;

    --txt_primary-color:#ffffff;
    --txt_secondary-color:#ED1D21;

    --icon_primary-color:#ffffff;
    --icon_secondary-color:#4BC800;

}


/* #endregion */


/*#region Common rules*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-width: 1440px;
}

ul{
    list-style: none;
    text-decoration: none;
}

i{
    padding: 8px 0;
    color:var(--icon_primary-color);
}




/*#endregion*/



/* #region grid */
.row{
    width: 100%;
}

.col_25{
    width: 25%;
}

.col_50{
    width: 50%;
}

.col_14{
    width: 14%;
}

 /*#endregion */

 /* #region Utility */

.flex {
    display:flex;
} 


/* #endregion */


/* #region main */

main{
    height: calc(100vh - 81px);
    background-color: var(--bg_primary);
}

.top_options {
    color:var(--txt_primary-color);
    justify-content:flex-end;
}

.top_options span {
    background-color: var(--bg_tertiary);
    padding: 5px 15px;
    margin:5px 10px;
    border-radius: 5px;
} 

.top_options i{
    vertical-align: middle;
    font-size: 18px;
}

.container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    height: 100px;
}

.card{
    height: 144px;
    background-image: url(https://picsum.photos/id/10/244/144) ;
    background-size: cover;
    justify-content: flex-start;
    align-items: flex-end;

}

.card_text{
    background-color: #4a4a4a63;
    color:var(--txt_primary-color);
    padding:2px 8px;
}

.card_text i{
    font-size: 16px;
}

/* #endregion */

/* #region Footer */
footer{
    height: 81px;
    background-color:var(--bg_secondary);
    justify-content: center;
    align-items: center;
}

nav{
    justify-content:space-between;
}

.menu_left{
    color:var(--txt_primary-color)
}

.action{
    padding: 10px;
    text-align:center;
    flex-direction: column;
    color: var(--icon_primary-color);
    justify-content: center;
    align-items: center;
}
.red{
    background-color: red;
}

i{
    font-size:20px;
    padding: 8px 0;
    color:var(--icon_primary-color);
}

.fa-angle-up {
    font-size: 10px;
    line-height: 50px;

}

#share {
    color:var(--icon_secondary-color);
}

.menu_right{
    justify-content: flex-end;

}

.btn{
    height: 81px;
    background-color: var(--bg_tertiary);
    color:var(--txt_secondary-color);
    width: 115px;
    text-align: center;
    padding: 30px 0;
    
}

/* #endregion */
